<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel Example</title>
</head>
<body>
    <h3>Excel Example Read and write operation</h3>
    <ul>
        <li>
            <a href="{% url 'export_excel' %}">simple excel read and write operation</a>
        </li>
        <li>
            <a href="#">simple excel read and write operation</a>
        </li>
        <li>
            <a href="#">simple excel read and write operation</a>
        </li>
    </ul>
</body>
</html>